#include"GRIcon.h"
GRICON ICON "gricon.ico"
GRBIRD BITMAP "bird2.bmp"
GRBIRD_AFRAID BITMAP "bird_afraid3.bmp"
GRLEAVES BITMAP "leaves_texture_2.bmp"
GRSHIRT BITMAP "shirt.bmp"
GRBIRD_LIGHTNING BITMAP "bird_lightning_hit.bmp"
GRSKY BITMAP "sky.bmp"
GRSOIL BITMAP "ground2.bmp"
GRMORNING_SKY BITMAP "morning_sky.bmp"
GRBIRD_HOUSE_DOOR BITMAP "bird_house_door.bmp"
GRBIRD_FOOD_CAN BITMAP "food_can2.bmp"
GRWHITE_COLOR_CLOUD BITMAP "white_color.bmp"
GRBED_FURNITURE BITMAP "bed2.bmp"
GRFOODS BITMAP "foods.bmp"
GRSMILEY BITMAP "smiley.bmp"
GRSTEM BITMAP "stem.bmp"
GRTITLE BITMAP "leap.bmp"
GROCEAN BITMAP "ocean.bmp"
