#include"GRIcon.h"
GRICON ICON "gricon.ico"
GRBIRD BITMAP "bird2.bmp"
GRLEAVES BITMAP "leaves6.bmp"
GRSHIRT BITMAP "shirt.bmp"
GRSOIL BITMAP "soil2.bmp"
GRSKY BITMAP "sky2.bmp"
GRSTEM BITMAP "stem.bmp"
GRBIRD_AFRAID BITMAP "bird_afraid3.bmp"
GRDEATHSTAR BITMAP "deathstar2.bmp"
